.footer {
    margin-top: 200px;
    padding: 47px 85px;
    flex-shrink: 0;
    background-color: #2C343E;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    display: flex;
    align-items: center;
    gap: 0 33px;
}

.text_ul_2 {
    gap: 0 20px;
    display: flex;
    align-items: center;
}

.li a{
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}