.section-buttum {
    margin-top: 168px;
}

.text_p_p {
    color: #83888F;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 72px;
    margin-left: 85px;
}


.section-h3 {
    margin-top: 45px;
    color: #333D4B;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.text-p_text {
    color: #333D4B;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-right: 85px;
}

.text-p_text_2 {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 85px;
}
.section-li{
   margin-left: 95px;
}